header {background:#ffbbd0; padding: 20px 0;}

.caixa {position:relative; width: 940px;margin:0 auto;}

.cute {width:20%;height: 40%}

nav {position: absolute; top:110px;right:0;}

nav li{display: inline;margin: 0 0 0 15px;}

nav a {text-transform: uppercase; color:#ef8caa;
	  font-weight: bold;font-size: 22px;
	  text-decoration: none}

nav a:hover{color:#ed7594;text-decoration: underline;}

.produtos {width: 940px;margin:0 auto;padding: 10px;}

.produtos li {display:inline-block;text-align: center;
				width:30%;vertical-align: top;
				margin-left: 5 1.3%;padding: 10px 10px;
				box-sizing: border-box;
				border: #ffbbd0 7px solid;border-radius: 20px}

.symbol {width: 220px}

.produtos li:hover {border-color:#ed7594}

.produtos li:active {border-color:#ef5778}

.produtos li:hover h2{font-size: 25px}

.descricao {font-size: 16px}

.preco {font-size: 18px;font-weight: bold; margin-top: 10px}

body{background:#fcfbff}

footer {text-align: center;background:#ffbbd0;padding: 50px 0}

.copyright {color:#ed7594;font-size: 18px;margin-bottom: 10px 0}

main {width: 940px;margin: 0 auto;}

.forma {margin: 40px 0;}

form label, form legend {display:block;font-size: 18px;margin: 0 0 10px;}

.padrao {display: block;margin: 0 0 20px;padding: 10px 25px;width: 40%;}

.checkbox {margin: 20px 0}

.send { width:30%; padding: 15px 0; background: #ef868e; color: white; font-weight: bold;
    font-size: 18px; border: none; border-radius: 5px; transition: 1s all; cursor: pointer;}

.send:hover{background: #dd5679; transform: scale(1.1)}

.cabelo {margin: 30px 0 60px}

thead {background: #ffbbd0; color: white; font-weight: bold;}

.cabelo td,th {border: 1px solid #000000; padding: 8px 15px;}