body{font-family: 'EB Garamond', serif;}

header {background:#ffbbd0; padding: 10px 0;}

.caixa {position:relative; width: 920px;margin:0 auto;}

.cute {width:20%;height: 50%}

section{text-align: center}

nav li{display: inline;margin: 0 0 0 15px;}

nav a {text-transform: uppercase; color:#ef8caa;
	  font-weight: bold;font-size: 22px;
	  text-decoration: none}

nav {position: absolute; top:120px;right:0;}

nav a:hover{color:#ed7594;text-decoration: underline;}

.produtos {width: 950px;margin: 2em auto;padding: 10px;}

.produtos li {; display:inline-block;text-align: center;
				width:33%;vertical-align: top;
				margin-left: 4 1.3%;padding: 10px 10px;
				box-sizing: border-box;
				border: #ffbbd0 7px solid;border-radius: 20px}

.symbol {width: 220px}

.produtos li:hover {border-color:#ed7594}

.produtos li:active {border-color:#ef5778}

.produtos li:hover h2{font-size: 25px}

.descricao {font-size: 16px}

.preco {font-size: 18px;font-weight: bold; margin-top: 10px}

.send {margin: 1em auto;width:60%; padding: 15px 0; background: #ef868e;
		color: white; font-weight: bold; font-size: 15px; border: none;
		border-radius: 5px; transition: 1s all; cursor: pointer;}
		
.send:hover{background: #dd5679; transform: scale(1.1)}

body{background:#fcfbff}

footer {text-align: center;background:#ffbbd0;padding: 20px 0}

.copyright {color:#ed7594;font-size: 18px;margin-bottom: 10px 0}

.footer{width: 180px}
