body {background: #fcfbff}

p {text-align: center}

#R{width:100%;height: 250px;}

#shrek {border:5px solid #466225;}

.central {text-align: center}

.class{text-align: center;color:#466225;}

h2 {color:#466225}

strong {color:#466225}

ul {display: inline-block; vertical-align: top ;width:20%; margin-right: 10%}

em strong {font-size: 20px}

#item {padding: 20px}

.imgd {width:50%;}